.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.form__fieldset:last-child {
  text-align: center;
}

.form__label {
  display: block;
  margin: 0 auto 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: inline;
}

.form__input {
  width: 100%;
  margin: 0 0 32px 0;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
  box-sizing: border-box;
  padding: 15px;
}

.form__input::-webkit-input-placeholder {
  color: #838383;
}
.form__input::-moz-placeholder {
  color: #838383;
}
.form__input::-ms-input-placeholder {
  color: #838383;
}
.form__input::placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  margin: 0 auto 32px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  background: #2f80ed;
  height: 50px;
  border: none;
  transition: opacity 0.3s linear 0.1s;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  min-width: 18px;
  min-height: 18px;
  margin-right: 12px;
  padding: 0;
  vertical-align: middle;
}
