.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  padding-top: 80px;
  padding-left: 80px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #2f80ed;
  font-style: italic;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
  position: relative;
  z-index: 1;
}

.header__description-span {
  display: block;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__footer {
  font-weight: 500;
  color: #838383;
  position: absolute;
  bottom: 40px;
  left: 0;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
}

.header__paragraph {
  margin: 0;
}
